.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    min-height: 225px;
    margin-bottom: 30px;    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container a {
    text-decoration: underline;
}
a.card-wrapper {
    text-decoration: none;
}
/* Stylying the FarmListing */

.listing-wrapper {
    border: 1px darkgray solid;
    margin-bottom: 10px;
    padding: 10px 0;
}
 
.container .btn {
    text-decoration: none
}
.form-group {
    margin-bottom: 10px;
}

/* caters for the Farms which are unavailable Farms */
.listing-wrapper.unavailableForSeason {
    background-color: lightgray;
}
/* for the carousel */
.carousel-item img {
    object-fit: cover;
    height: 400px;
    opacity: .5;
}
/* the html styles */
h2{
    text-align: center;
}
p{
    font-family: Courier;
    border: 2px solid powderblue;
}