h1 {
    /* styles here apply to all breakpoints unless overridden */
    font-size: 14px;
    text-align: center;/*doesnt get overridden*/
    background-color: aquamarine;
}
 
@media screen and (min-width: 480px) {
  h1 {
    font-size: 24px; /* overrides 14px at 480px */
    background-color: white; /*overrides aquamarine, doesn't get overridden */
  }
}
 
@media screen and (min-width: 768px) {
  h1 {
    font-size: 30px; /* overrides 24px at 768px */
  }
}
